<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="well well-sm hero-badge hero-badge-primary">
        <div class="hero-badge-icon fa-lg">
          <i class="fa fa-5x fa-sitemap"></i>
        </div>
        <div class="hero-badge-body">
          <span class="hero-badge-title text-nowrap-overflow">Current Sprint</span>
          <var class="hero-badge-value">1</var>
          <span class="hero-badge-desc text-nowrap-overflow">Time to Start. Good luck!</span>
        </div>
      </div><!-- /.hero-badge -->
    </div><!-- /.col-sm-X -->
    <div class="col-sm-2">
      <div class="well well-sm hero-badge hero-badge-success">
        <div class="hero-badge-icon fa-lg">
          <i class="fa fa-5x fa-tachometer"></i>
        </div>
        <div class="hero-badge-body">
          <span class="hero-badge-title text-nowrap-overflow">Current Velocity</span>
          <var class="hero-badge-value">107</var>
          <span class="hero-badge-desc text-nowrap-overflow">hours per Sprint</span>
        </div>
      </div><!-- /.hero-badge -->
    </div><!-- /.col-sm-X -->
    <div class="col-sm-2">
      <div class="well well-sm hero-badge hero-badge-danger">
        <div class="hero-badge-icon fa-lg">
          <i class="fa fa-5x fa-paper-plane-o"></i>
        </div>
        <div class="hero-badge-body">
          <span class="hero-badge-title text-nowrap-overflow">Stories Assigned</span>
          <var class="hero-badge-value">12</var>
          <span class="hero-badge-desc text-nowrap-overflow">of 23 Available</span>
        </div>
      </div><!-- /.hero-badge -->
    </div><!-- /.col-sm-X -->
    <div class="col-sm-2">
      <div class="well well-sm hero-badge hero-badge-warning">
        <div class="hero-badge-icon fa-lg">
          <i class="fa fa-5x fa-check-square-o"></i>
        </div>
        <div class="hero-badge-body">
          <span class="hero-badge-title text-nowrap-overflow">Stories Completed</span>
          <var class="hero-badge-value">17</var>
          <span class="hero-badge-desc text-nowrap-overflow">You’re in <b>Beta</b>!</span>
        </div>
      </div><!-- /.hero-badge -->
    </div><!-- /.col-sm-X -->
    <div class="col-sm-2">
      <div class="well well-sm hero-badge hero-badge-default">
        <div class="hero-badge-icon fa-lg">
          <i class="fa fa-5x fa-child"></i>
        </div>
        <div class="hero-badge-body">
          <span class="hero-badge-title text-nowrap-overflow">Team Skill Points</span>
          <var class="hero-badge-value">325</var>
          <span class="hero-badge-desc text-nowrap-overflow">Sum of 5 Developers</span>
        </div>
      </div><!-- /.hero-badge -->
    </div><!-- /.col-sm-X -->
    <div class="col-sm-2">
      <div class="well well-sm hero-badge hero-badge-primary">
        <div class="hero-badge-icon fa-lg">
          <i class="fa fa-5x fa-trophy"></i>
        </div>
        <div class="hero-badge-body">
          <span class="hero-badge-title text-nowrap-overflow">Project Points</span>
          <var class="hero-badge-value">1025</var>
          <span class="hero-badge-desc text-nowrap-overflow">Earned in 23 minutes</span>
        </div>
      </div><!-- /.hero-badge -->
    </div><!-- /.col-sm-X -->
  </div>
</div>
