@import 'variables';
@import 'bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';
@import 'bower_components/fontawesome/scss/font-awesome';
@import 'overwrites';
@import 'helpers';

body {
}


// dev card
.dev-card {
  &:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, .2);

    .dev-heading, .dev-actions {
      box-shadow: 0px 0px 12px rgba(0,0,0, .2) inset;
    }
  }

}

.dev-ava {
  width: 30px;
  height: 30px;

  .dev-card-market & {
    width: 40px;
    height: 40px;
  }
}

.dev-salary {
  font-size: 28px;
  font-weight: normal;

  s, small {
    font-size: 16px;
  }
}

.dev-skill-list {
  // font-size: 12px;

  li {
    padding-bottom: 5px;
  }
}

.dev-estimate {
  &:hover {
    background-color: rgba($brand-primary, .1);
  }
}
