.panel-primary {
  .panel-heading .text-muted {
    color: #aaa;
  }

  &.panel-compact .panel-heading {
    color: $brand-primary;
  }
}

.panel-compact {
  border-left-width: 7px;

  .panel-body {
    padding: $panel-body-padding/2;
  }

  .panel-heading {
    padding: $panel-body-padding/2;
    background-color: transparent !important;

  }
}

.progress {
  .progress-bar {
    white-space: nowrap;
    text-shadow: 1px 1px 1px #000;
  }
}

.progress-invert {
  background-color: #444;
  @include gradient-striped;
  background-size: 40px 40px;
}

.progress-slim {
  height: 7px;
}

