$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;

$card-shadow: 0px 0px 30px rgba(0,0,0, .2);
$card-inset-shadow: 0px 0px 12px rgba(0,0,0, .2) inset;
