<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">KARAUL</a>
      {{!-- {{#link-to "game" class="navbar-brand"}}game{{/link-to}} --}}
    </div>
    <ul class="nav navbar-nav">
      <li><a>game</a></li>
      {{!-- {{#link-to "game.inbox" tagName="li" href=false}}
        {{#link-to "game.inbox"}}game.inbox{{/link-to}}
      {{/link-to}} --}}
      {{!-- {{#link-to "game.scrum" tagName="li" href=false}}
        {{#link-to "game.scrum"}}game.scrum{{/link-to}}
      {{/link-to}} --}}
      {{!-- {{#link-to "game.jobmarket" tagName="li" href=false}}
        {{#link-to "game.jobmarket"}}game.jobmarket{{/link-to}}
      {{/link-to}} --}}
    </ul>
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        {{!-- {{#link-to "prepare" tagName="li" href=false}}
          {{#link-to "prepare"}}prepare{{/link-to}}
        {{/link-to}} --}}
        {{#link-to "rules" tagName="li" href=false}}
          {{#link-to "rules"}}rules{{/link-to}}
        {{/link-to}}
        {{#link-to "top" tagName="li" href=false}}
          {{#link-to "top"}}top{{/link-to}}
        {{/link-to}}

      </ul>
    </div>
  </div><!--/.container-fluid -->
</div>
<div class="container-fluid">
  {{outlet}}
</div>
