<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
          {{#link-to "game.index" class="navbar-brand"}}game.index{{/link-to}}
        </div>
        <ul class="nav navbar-nav">
            {{#link-to "game.project" tagName="li" href=false}}
                {{#link-to "game.project"}}project{{/link-to}}
            {{/link-to}}
            {{#link-to "game.email" tagName="li" href=false}}
                {{#link-to "game.email"}}email{{/link-to}}
            {{/link-to}}
            {{#link-to "scrum" tagName="li" href=false}}
                {{#link-to "scrum"}}scrum{{/link-to}}
            {{/link-to}}
            {{#link-to "game.jobmarket" tagName="li" href=false}}
                {{#link-to "game.jobmarket"}}jobmarket{{/link-to}}
            {{/link-to}}
        </ul>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
              {{#link-to "game.log" tagName="li" href=false}}
                  {{#link-to "game.log"}}log{{/link-to}}
              {{/link-to}}
            </ul>
        </div>
    </div><!--/.container-fluid -->
</div>
<div class="container-fluid">
    {{outlet}}
</div>
