<div class="intro">
    <button {{action "prepare"}}>Play</button>
    <br><button {{action "test"}}>test</button>
</div>

<h1>BASICS</h1>
<ul>
  <li>create empty game</li>
  <li>set common config values/numbers (DO NOT generate anything)</li>
  <li>transition to 'new/:id' (settings/ready page)</li>
</ul>

{{outlet}}
