game scrum

{{!-- project backlog --}}
<div class="container">
  <div class="row">

    <div class="col-sm-4">
      <div class="panel panel-compact panel-danger task-card task-card-backlog">
        <div class="panel-heading text-nowrap-overflow">
          <small class="pull-right">Core</small>
          Task #1: Find The One
        </div>

        <ul class="list-group">
          <li class="list-group-item">

            <ul class="list-unstyled gap-no">
              <li>
                <strong>Required</strong> for Prototype
              </li>
              <li>
                Auditory <strong>Expected Effect</strong> is 30’000 users
              </li>
              <li>
                <strong>Techniques</strong> are PHP, MySQL and vanilla.js
              </li>
            </ul>

          </li>
          <li class="list-group-item">

            <em class="action pull-right text-muted">
              Complexity Details
              <i class="fa fa-chevron-down"></i>
            </em>
            <p class="text-muted gap-no">ETA is 7—16 hours</p>

            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                <span class="sr-only">Arhitect: 10%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">Back End: 20%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-info progress-bar-striped text-nowrap" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                <span class="sr-only">Front End: 70%</span>
              </div>
            </div>

          </li>
        </ul>
      </div><!-- /.task-card -->
    </div><!-- /.col-sm-X -->

    <div class="col-sm-4">
      <div class="panel panel-compact panel-success task-card task-card-backlog">
        <div class="panel-heading text-nowrap-overflow">
          <small class="pull-right">Social</small>
          Task #2: Talk to Neo over cell phone
        </div>

        <ul class="list-group">
          <li class="list-group-item">

            <ul class="list-unstyled gap-no">
              <li>
                <strong>Required</strong> for Prototype
              </li>
              <li>
                Auditory <strong>Expected Effect</strong> is 30’000 users
              </li>
              <li>
                <strong>Techniques</strong> are PHP, MySQL and vanilla.js
              </li>
            </ul>

          </li>
          <li class="list-group-item">

            <em class="action pull-right text-muted">
              Complexity Details
              <i class="fa fa-chevron-down"></i>
            </em>
            <p class="text-muted gap-no">ETA is 7—16 hours</p>

            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                <span class="sr-only">Arhitect: 45%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only">Back End: 0%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-info progress-bar-striped text-nowrap" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only">Front End: 0%</span>
              </div>
            </div>

          </li>
        </ul>
      </div><!-- /.task-card -->
    </div><!-- /.col-sm-X -->

    <div class="col-sm-4">
      <div class="panel panel-compact panel-danger task-card task-card-backlog">
        <div class="panel-heading text-nowrap-overflow">
          <small class="pull-right">Core</small>
          Task #3: Prepare the blue and the red pills
        </div>

        <ul class="list-group">
          <li class="list-group-item">

            <ul class="list-unstyled gap-no">
              <li>
                <strong>Required</strong> for Prototype
              </li>
              <li>
                Auditory <strong>Expected Effect</strong> is 30’000 users
              </li>
              <li>
                <strong>Techniques</strong> are PHP, MySQL and vanilla.js
              </li>
            </ul>

          </li>
          <li class="list-group-item">

            <em class="action pull-right text-muted">
              Complexity Details
              <i class="fa fa-chevron-down"></i>
            </em>
            <p class="text-muted gap-no">ETA is 7—16 hours</p>

            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                <span class="sr-only">Arhitect: 10%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">Back End: 100%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-info progress-bar-striped text-nowrap" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only">Front End: 0%</span>
              </div>
            </div>

          </li>
        </ul>
      </div><!-- /.task-card -->
    </div><!-- /.col-sm-X -->

    <div class="col-sm-4">
      <div class="panel panel-compact panel-primary task-card task-card-backlog">
        <div class="panel-heading text-nowrap-overflow">
          <small class="pull-right">Wow!</small>
          Task #4: Meet Neo and impress him about the real world
        </div>

        <ul class="list-group">
          <li class="list-group-item">

            <ul class="list-unstyled gap-no">
              <li>
                <strong>Required</strong> for Beta
              </li>
              <li>
                Auditory <strong>Expected Effect</strong> is 1'000’000 users
              </li>
              <li>
                <strong>Techniques</strong> are PHP, MySQL and vanilla.js
              </li>
            </ul>

          </li>
          <li class="list-group-item">

            <em class="action pull-right text-muted">
              Complexity Details
              <i class="fa fa-chevron-down"></i>
            </em>
            <p class="text-muted gap-no">ETA is 7—16 hours</p>

            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                <span class="sr-only">Arhitect: 90%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only">Back End: 0%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-info progress-bar-striped text-nowrap" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only">Front End: 0%</span>
              </div>
            </div>

          </li>
        </ul>
      </div><!-- /.task-card -->
    </div><!-- /.col-sm-X -->

    <div class="col-sm-4">
      <div class="panel panel-compact panel-primary task-card task-card-backlog">
        <div class="panel-heading text-nowrap-overflow">
          <small class="pull-right">Wow!</small>
          Task #5: Teach Neo Some Kung Fu!
        </div>

        <ul class="list-group">
          <li class="list-group-item">

            <ul class="list-unstyled gap-no">
              <li>
                <strong>Required</strong> for Prototype
              </li>
              <li>
                Auditory <strong>Expected Effect</strong> is 30’000 users
              </li>
              <li>
                <strong>Techniques</strong> are PHP, MySQL and vanilla.js
              </li>
            </ul>

          </li>
          <li class="list-group-item">

            <em class="action pull-right text-muted">
              Complexity Details
              <i class="fa fa-chevron-down"></i>
            </em>
            <p class="text-muted gap-no">ETA is 7—16 hours</p>

            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">Arhitect: 100%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">Back End: 100%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-info progress-bar-striped text-nowrap" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">Front End: 100%</span>
              </div>
            </div>

          </li>
        </ul>
      </div><!-- /.task-card -->
    </div><!-- /.col-sm-X -->

    <div class="col-sm-4">
      <div class="panel panel-compact panel-danger task-card task-card-backlog">
        <div class="panel-heading text-nowrap-overflow">
          <small class="pull-right">Core</small>
          Task #1: Find The One
        </div>

        <ul class="list-group">
          <li class="list-group-item">

            <ul class="list-unstyled gap-no">
              <li>
                <strong>Required</strong> for Prototype
              </li>
              <li>
                Auditory <strong>Expected Effect</strong> is 30’000 users
              </li>
              <li>
                <strong>Techniques</strong> are PHP, MySQL and vanilla.js
              </li>
            </ul>

          </li>
          <li class="list-group-item">

            <em class="action pull-right text-muted">
              Complexity Details
              <i class="fa fa-chevron-down"></i>
            </em>
            <p class="text-muted gap-no">ETA is 7—16 hours</p>

            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                <span class="sr-only">Arhitect: 10%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">Back End: 20%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-info progress-bar-striped text-nowrap" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                <span class="sr-only">Front End: 70%</span>
              </div>
            </div>

          </li>
        </ul>
      </div><!-- /.task-card -->
    </div><!-- /.col-sm-X -->

    <div class="col-sm-4">
      <div class="panel panel-compact panel-danger task-card task-card-backlog">
        <div class="panel-heading text-nowrap-overflow">
          <small class="pull-right">Core</small>
          Task #1: Find The One
        </div>

        <ul class="list-group">
          <li class="list-group-item">

            <ul class="list-unstyled gap-no">
              <li>
                <strong>Required</strong> for Prototype
              </li>
              <li>
                Auditory <strong>Expected Effect</strong> is 30’000 users
              </li>
              <li>
                <strong>Techniques</strong> are PHP, MySQL and vanilla.js
              </li>
            </ul>

          </li>
          <li class="list-group-item">

            <em class="action pull-right text-muted">
              Complexity Details
              <i class="fa fa-chevron-down"></i>
            </em>
            <p class="text-muted gap-no">ETA is 7—16 hours</p>

            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                <span class="sr-only">Arhitect: 10%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">Back End: 20%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-info progress-bar-striped text-nowrap" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                <span class="sr-only">Front End: 70%</span>
              </div>
            </div>

          </li>
        </ul>
      </div><!-- /.task-card -->
    </div><!-- /.col-sm-X -->

    <div class="col-sm-4">
      <div class="panel panel-compact panel-danger task-card task-card-backlog">
        <div class="panel-heading text-nowrap-overflow">
          <small class="pull-right">Core</small>
          Task #1: Find The One
        </div>

        <ul class="list-group">
          <li class="list-group-item">

            <ul class="list-unstyled gap-no">
              <li>
                <strong>Required</strong> for Prototype
              </li>
              <li>
                Auditory <strong>Expected Effect</strong> is 30’000 users
              </li>
              <li>
                <strong>Techniques</strong> are PHP, MySQL and vanilla.js
              </li>
            </ul>

          </li>
          <li class="list-group-item">

            <em class="action pull-right text-muted">
              Complexity Details
              <i class="fa fa-chevron-down"></i>
            </em>
            <p class="text-muted gap-no">ETA is 7—16 hours</p>

            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                <span class="sr-only">Arhitect: 10%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">Back End: 20%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-info progress-bar-striped text-nowrap" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                <span class="sr-only">Front End: 70%</span>
              </div>
            </div>

          </li>
        </ul>
      </div><!-- /.task-card -->
    </div><!-- /.col-sm-X -->

    <div class="col-sm-4">
      <div class="panel panel-compact panel-danger task-card task-card-backlog">
        <div class="panel-heading text-nowrap-overflow">
          <small class="pull-right">Core</small>
          Task #1: Find The One
        </div>

        <ul class="list-group">
          <li class="list-group-item">

            <ul class="list-unstyled gap-no">
              <li>
                <strong>Required</strong> for Prototype
              </li>
              <li>
                Auditory <strong>Expected Effect</strong> is 30’000 users
              </li>
              <li>
                <strong>Techniques</strong> are PHP, MySQL and vanilla.js
              </li>
            </ul>

          </li>
          <li class="list-group-item">

            <em class="action pull-right text-muted">
              Complexity Details
              <i class="fa fa-chevron-down"></i>
            </em>
            <p class="text-muted gap-no">ETA is 7—16 hours</p>

            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                <span class="sr-only">Arhitect: 10%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">Back End: 20%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-info progress-bar-striped text-nowrap" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                <span class="sr-only">Front End: 70%</span>
              </div>
            </div>

          </li>
        </ul>
      </div><!-- /.task-card -->
    </div><!-- /.col-sm-X -->

    <div class="col-sm-4">
      <div class="panel panel-compact panel-danger task-card task-card-backlog">
        <div class="panel-heading text-nowrap-overflow">
          <small class="pull-right">Core</small>
          Task #1: Find The One
        </div>

        <ul class="list-group">
          <li class="list-group-item">

            <ul class="list-unstyled gap-no">
              <li>
                <strong>Required</strong> for Prototype
              </li>
              <li>
                Auditory <strong>Expected Effect</strong> is 30’000 users
              </li>
              <li>
                <strong>Techniques</strong> are PHP, MySQL and vanilla.js
              </li>
            </ul>

          </li>
          <li class="list-group-item">

            <em class="action pull-right text-muted">
              Complexity Details
              <i class="fa fa-chevron-down"></i>
            </em>
            <p class="text-muted gap-no">ETA is 7—16 hours</p>

            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                <span class="sr-only">Arhitect: 10%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">Back End: 20%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-info progress-bar-striped text-nowrap" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                <span class="sr-only">Front End: 70%</span>
              </div>
            </div>

          </li>
        </ul>
      </div><!-- /.task-card -->
    </div><!-- /.col-sm-X -->

    <div class="col-sm-4">
      <div class="panel panel-compact panel-danger task-card task-card-backlog">
        <div class="panel-heading text-nowrap-overflow">
          <small class="pull-right">Core</small>
          Task #1: Find The One
        </div>

        <ul class="list-group">
          <li class="list-group-item">

            <ul class="list-unstyled gap-no">
              <li>
                <strong>Required</strong> for Prototype
              </li>
              <li>
                Auditory <strong>Expected Effect</strong> is 30’000 users
              </li>
              <li>
                <strong>Techniques</strong> are PHP, MySQL and vanilla.js
              </li>
            </ul>

          </li>
          <li class="list-group-item">

            <em class="action pull-right text-muted">
              Complexity Details
              <i class="fa fa-chevron-down"></i>
            </em>
            <p class="text-muted gap-no">ETA is 7—16 hours</p>

            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                <span class="sr-only">Arhitect: 10%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">Back End: 20%</span>
              </div>
            </div>
            <div class="progress progress-slim gap-no">
              <div class="progress-bar progress-bar-info progress-bar-striped text-nowrap" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                <span class="sr-only">Front End: 70%</span>
              </div>
            </div>

          </li>
        </ul>
      </div><!-- /.task-card -->
    </div><!-- /.col-sm-X -->
  </div>
</div>
