{{#each task in model}}
  <div>{{task.name}}</div>
  {{#each skill in task.reqSkills}}
    {{#each tskill in skill.tskills}}
      <div>{{tskill.name}}</div>
      {{#each category in tskill.categories}}
        <div>{{category.name}}</div>
      {{/each}}
    {{/each}}
    <div>{{skill.value}}</div>
  {{/each}}
{{/each}}
